$lightcolor:#f4f4f4;
$primary-color:#0f1128;
$secondary-color:#fe6102;




// Set the color of text based on the background 

@function set-text-color($color) {
    @if(lightness($color) > 70) {
        @return #333;
    }

    @else {
        @return #fff;
    }
}

// Set background & text-color

@mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color);
}